.caviar-transition-in.slide .caviar-ui-controler-instance.caviar-next {
    animation: slide-in 300ms ease 250ms both;
    -webkit-animation: slide-in 300ms ease 250ms both;
}

.caviar-transition-out.slide .caviar-ui-controler-instance.caviar-active {
    animation: slide-out 300ms ease 0ms both;
    -webkit-animation: slide-out 300ms ease 0ms both;
}

@keyframes slide-in {
	0% {transform: translateX(100%); opacity: 0.4;}
	100% {transform: translateX(0); opacity: 1;}
}

@-webkit-keyframes slide-in {
	0% {-webkit-transform: translateX(100%); opacity: 0.4;}
	100% {-webkit-transform: translateX(0); opacity: 1;}
}

@keyframes slide-out {
	100% {transform: translateX(100%); opacity: 0.4;}
}

@-webkit-keyframes slide-out {
	100% {-webkit-transform: translateX(100%);  opacity: 0.4;}
}