.transition-in.slide .ui-controler-instance.next {
    animation: slide-in 300ms ease 450ms both;
    -webkit-animation: slide-in 300ms ease 450ms both;
}

.transition-out.slide .ui-controler-instance.active {
    animation: slide-out 300ms ease 0ms both;
    -webkit-animation: slide-out 300ms ease 0ms both;
}

@keyframes slide-in {
	0% {left: 100%; opacity: 0.4;}
	100% {left: 0; opacity: 1;}
}

@-webkit-keyframes slide-in {
	0% {left: 100%; opacity: 0.4;}
	100% {left: 0; opacity: 1;}
}

@keyframes slide-out {
	0% {left: 0; opacity: 1;}
	100% {left: 100%; opacity: 0.4;}
}

@-webkit-keyframes slide-out {
	0% {left: 0; opacity: 1;}
	100% {left: 100%; opacity: 0.4;}
}