<header class="app-header">
	<a href="#" class="app-header-menu caviar-toggle-menu-left">
	    <span class="menu-line"></span>
	    <span class="menu-line"></span>
	    <span class="menu-line"></span>
	</a>

	<h2 class="app-header-title">caviar</h2>
</header>

<section class="main-controller">
	<h1>Who made it?</h1>

	<div class="picture-box">
		<a href="https://github.com/brunoziie">
			<img src="https://avatars3.githubusercontent.com/u/764339?v=2&s=200" alt="@brunoziie">
		</a>

		<a href="https://github.com/weedoit">
			<img src="https://avatars1.githubusercontent.com/u/7155638?v=2&s=200" alt="@weedoit">
		</a>
	</div>

	<p>
		Caviar was created by <a href="https://github.com/brunoziie">@brunoziie</a> and is maintained like a internal project by <a href="http://weedo.it">WEEDO.it</a>
	</p>

	<p>Follow us on GitHub</p>
</section>