<header class="app-header">
	<a href="#" class="app-header-menu caviar-toggle-menu-left">
	    <span class="menu-line"></span>
	    <span class="menu-line"></span>
	    <span class="menu-line"></span>
	</a>

	<h2 class="app-header-title">caviar</h2>
</header>

<section class="main-controller">
	<div class="thumb">
		<img src="assets/images/caviar.jpg" alt="">
	</div>	

	<h1>WTH is Caviar?</h1>

	<p>
		Caviar is a little framework to create PhoneGap Apps 
		in a simple way and with high performance. 
		It was created following some FastGap project techniques. 
		Our main concern is to keep everything simple and fast. 
	</p>

	<p>
		We have no intention to define standards of design for UI.
		We only want to provide a flow management system, 
		resources and some other magic.
	</p>

	<p>
		If you are asking yourself why this name, well, its a internal 
		joke of WEEDO.it staff in reference to Zeca Pagodinho's song of same name.
	</p>

	<p>
		Let's start to create something cool?
	</p>
</section>