<div class="main-controller caviar-layout has-header-bar">
	<header>
		<a href="#" class="app-header-menu caviar-toggle-menu-left">
			<span class="menu-line"></span>
			<span class="menu-line"></span>
			<span class="menu-line"></span>
		</a>
	</header>

	<section class="content">
		<h1>Who made it?</h1>

		<p>
			Caviar was created by <a href="https://github.com/brunoziie">@brunoziie</a> and is maintained as a internal project by <a href="http://weedo.it">WEEDO.it</a>
		</p>

		<p>Follow us on GitHub</p>
	</section>
</div>