<div class="main-controller caviar-layout has-header-bar">
	<header>
		<a href="#" class="app-header-menu caviar-toggle-menu-left">
			<span class="menu-line"></span>
			<span class="menu-line"></span>
			<span class="menu-line"></span>
		</a>
	</header>

	<section class="content">
		@section('content')
			<div class="thumb">
				@section('thumb')
					<img src="assets/images/caviar-brand.png" alt="brand">
					<span class="legend">Let's start to create something cool?</span>
				@endsection
			</div>
		@endsection
	</section>
</div>